@model Grocery.Models.Items[]
@{
    ViewBag.Title = "Baking";
    ViewBag._shoppingCart = true;
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>

    @using (Html.BeginForm())
    {
    <div class="row bg-red">
        <h3>Ingredients</h3>
        @foreach (var ingType in Model.Where(m => m.Type == "Ingredient"))
        {
            <div class="form-group">
                <div class="col-md-2 h-2">
                    <h4>@ingType.ItemName</h4>
                    <img src="/Images/Baking/@ingType.CoverImageFileName" alt="@ingType.ItemName" class="h-5 image-responsive" />
                    <h3>$@ingType.Price.00</h3>
                    <p class="mb-5"><bold>@ingType.Description</bold></p>
                    <button type="submit" class="btn btn-primary auto">Add to Cart</button>
                </div>
            </div>
         }
     }
    </div>
    <div class="row bg-lightgreen">
        <h3>Spices</h3>
        @foreach (var ingType in Model.Where(m => m.Type == "Spice"))
        {
            <div class="form-group">
                <div class="col-md-2 h-2">
                    <h4>@ingType.ItemName</h4>
                    <img src="/Images/Baking/@ingType.CoverImageFileName" alt="@ingType.ItemName" class="h-5 image-responsive" />
                    <h3>$@ingType.Price.00</h3>
                    <p class="mb-5"><bold>@ingType.Description</bold></p>
                    <button type="submit" class="btn btn-primary auto">Add to Cart</button>
                </div>
            </div>
         }
        </div>
    }
</div>