@model Grocery.Models.Meats

@{
    ViewBag.Title = "Meats";
}

<h2>@Model.ItemName</h2>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5>@Model.ItemName</h5>
            <h5><label>Price: </label>@Model.Price</h5>
        </div>
        <h5>Description:</h5>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-6">
        <img src="/Images/Meats/@Model.CoverImageFileName" alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>
}