@model Grocery.Models.Items[]
@{
    ViewBag.Title = "Meats";
}
<div class="container text-center">
    <h2>@ViewBag.Title</h2>

    <p>Pick Your Animal</p>
    <div class="row bg-red">
        <h3>Beef</h3>
        @foreach (var meatType in Model)
        {
            if (meatType.Type == "Cow")
            {
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/Meats/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button class="btn btn-primary auto">Add to Cart</button>
                </div>
            }
        }
    </div>
    <div class="row bg-lightgreen">
        <h3>Pork</h3>
        @foreach (var meatType in Model)
        {
            if (meatType.Type == "Pig")
            {
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/Meats/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button class="btn btn-primary auto">Add to Cart</button>
                </div>
            }
        }
    </div>
    <div class="row bg-lightgrey">
        <h3>Chicken</h3>
        @foreach (var meatType in Model)
        {
            if (meatType.Type == "Chicken")
            {
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/Meats/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button class="btn btn-primary auto">Add to Cart</button>
                </div>
            }
        }
    </div>
    <div class="row bg-red">
        <h3>Fish</h3>
        @foreach (var meatType in Model)
        {
            if (meatType.Type == "Fish")
            {
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/Meats/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button class="btn btn-primary auto">Add to Cart</button>
                </div>
            }
        }
    </div>
    <div class="row bg-lightgreen">
        <h3>Turkey</h3>
        @foreach (var meatType in Model)
        {
            if (meatType.Type == "Turkey")
            {
                <div class="col-md-2 h-2">
                    <h4>@meatType.ItemName</h4>
                    <img src="/Images/Meats/@meatType.CoverImageFileName" alt="@meatType.ItemName" class="h-5 image-responsive" />
                    <h3>$@meatType.Price.00</h3>
                    <p class="mb-5"><bold>@meatType.Description</bold></p>
                    <button class="btn btn-primary auto">Add to Cart</button>
                </div>
            }
        }
    </div>
</div>