@model Grocery.Models.ShoppingCart
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>

    @using (Html.BeginForm())
    {
    <div>
        <h4>Total Price of Purchase: $@Model.ShowItems().Sum(x => x.Price).00</h4>
        <ul class="row">
            @foreach (var item in Model.ShowItems())
            {
                <li class="form-group col-md-12 noDot">
                    <h4>@item.ItemName</h4>
                    <img src="/Images/@item.CoverImageFileName" alt="@item.ItemName" class="image-responsive  h-6" />
                    <h4>$@item.Price.00</h4>
                    <button type="submit" class="btn btn-primary" @Model.DeductItem(item)>-</button>
                    <h4>@item.Amount</h4>
                    <button type="submit" class="btn btn-primary" @Model.AddItems(item)>+</button>
                    <button type="submit" class="btn btn-primary" @Model.RemoveCartItem(item.Id)>Delete</button>
                </li>
            }
        </ul>
        <button type="submit" class="btn btn-warning" value="checkout">Checkout</button>
    </div>
    }
</div>