@model Grocery.Models.ShoppingCart
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>
    <h4>Total Price of Purchase: $@Model.ShowItems().Sum(x => x.Price).00</h4>

    @using (Html.BeginForm())
    {
    <div>
        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
                @foreach (var item in Model.ShowItems())
                {
                <tr>
                    <td><img src="/Images/@item.CoverImageFileName" alt="@item.ItemName" class="image-responsive h-7" /></td>
                    <td>@item.ItemName</td>
                    <td>$@item.Price.00</td>
                    <td>@Html.ActionLink("-", "DeductItem", new { items = item }, new { @class = "btn btn-primary" })</td>
                    <td>@item.Amount</td>
                    <td>@Html.ActionLink("+", "AddItem", new { items = item }, new { @class = "btn btn-primary" })</td>
                    <td>
                        @using (Html.BeginForm())
                        {
                        <input type="hidden" value="@item.Id" name="ItemDelete" />
                        <button type="submit" class="btn btn-warning">Delete</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-warning" value="checkout">Checkout</button>
    </div>
    }
</div>