@model Grocery.Models.Items[]

@{
    ViewBag.Title = "ShoppingCart";
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>

    @using (Html.BeginForm())
    {
        <div>
            <h3>Shopping Cart</h3>
            <div class="form-group">
                <h4>@ViewBag.TotalPrice</h4>
                @foreach (var ingType in Model)
                {
                    <div>
                        <h4>@ingType.ItemName</h4>
                        <img src="/Images/Baking/@ingType.CoverImageFileName" alt="@ingType.ItemName" class="h-5 image-responsive" />
                        <h3>$@ingType.Price.00</h3>
                        <p class="mb-5"><bold>@ingType.Description</bold></p>
                            <button type="submit" class="btn btn-primary auto" value="false">-</button>
                            <button type="submit" class="btn btn-primary auto" value="false">+</button>
                            <button type="submit" class="btn btn-primary auto" value="false">Delete</button>
                    </div>
                }
            </div>
            }
        </div>
    }
</div>